<!doctype html>
<html ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div ng-controller='ToBuyController as tobuylist'>
     <h2>To Buy:</h2>
     <ol>
       <li ng-repeat="item in tobuylist.items"> Buy {{item.quantity}} {{item.name}}(s)<button ng-click="tobuylist.buyItem($itemIndex,item.name,item.quantity)"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
       
     </ol>
     <div ng-if="tobuylist.Message" ng-style="tobuylist.myStyle1">{{tobuylist.Message}}</div>
    </div>

    <!-- Already Bought List -->
    <div ng-controller='AlreadyBoughtController as bought'>
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="bitem in bought.bitems"> Bought {{bitem.quantity}} {{bitem.name}}(s)</li>
     </ul>
     
     <div ng-if="bought.bitems.length==0" ng-style="bought.myStyle2">{{bought.bmessage}}</div>
    </div>
  </div>
</div>

</body>
</html>
